.container {
    width: 800px;
    margin: 0 auto;
    background-color: rgb(173, 233, 235);
    border-radius: 25px;
    border-style: dashed;
    padding: 10px;
}

#startPrompt {
    text-align: center;
}

h1 {
    color: darkblue;
}
#timer {
    display: flex;
    align-items:center;
    font-size:x-large;
    font-weight: bold;
}
#questionContainer {
    width: 800px;
    margin: 0 auto;
    background-color: rgb(249, 252, 252);
    border-radius: 25px;
    border-style: dashed;
    padding: 10px;
}
#questionText {
    text-align: center;
}
#submit {
    align-items: center;
    
}
